<h1>StaticPages#landing_page</h1>
<p>Find me in app/views/static_pages/landing_page.html.erb</p> 
<div class="form form-control shadow-box">
<%=link_to "se connecter en tant que partenaire", new_partners_office_partner_session_path %>
</div>
