<h1>Bonjour <%= @user.email %> </h1> <p>Bienvenue au NFTCAKELAB chère artiste!</p>
Pour accèder à l'espace client n'hésite  pas à revenir sur: <%= @url%> 
<p> Ton email est le : <%= @user.email%> </p>
<p> Ton MDP est le : <%= @user.password%> </p>
<strong> @NFTCAKELAB </strong> 