
<div class="container">
<h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/links" %>

<form action="/action_page.php">
  <div class="form-group">
    <%= f.label :email %><br />
    <input type="email" class="form-control" id="email">
  </div>
  
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
    
  
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
     <% if devise_mapping.rememberable? %>
    
      
    </div>
      <% end %>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
    <% end %>

    