<h1>Gallery#home_gallery</h1>

 <!--  <div class="rt-profile-card"><img src="./public/images/img1.jpg" class="full-width img-fluid"> -->
  <br/><br/>

<div class="row">
    <div class="col-6 col-md-4">
                <a href="http://www.art.fr" target="_blank" rel="noopener noreferrer">
                <div class="rt-profile-card"><img src="https://imgc.artprintimages.com/img/print/john-james-audubon-great-blue-heron_u-l-f33bpe0.jpg?artWidth=300&artHeight=300" class="full-width img-fluid">
                    <div class="rt-profile-body">
                </a>    
                        <div class="rt-profile-name">  ART.FR</div>
                    </div>
                </div>
                        <p>Véritable géant dans le domaine de la vente d'art en ligne, Art.fr est la copie conforme de son grand frère américain, Art.com, leader dans le domaine de la décoration murale. Art.fr offre la possibilité au grand public de s'offrir une reproduction de qualité d'une toile d'un grand maître. Le site dispose d'un catalogue complètement fou de Picasso à Van Gogh, en passant par Niki De Saint Phalle ou Jean-Michel Basquiat.</p>
    </div>
 
    <div class="col-6 col-md-4">
                <a href="yellowkorner.com" target="_blank" rel="noopener noreferrer">
                <div class="rt-profile-card"><img src="https://storage.googleapis.com/yk-cdn/photos/plp/ruslan-bolgov/duality-ii.jpg" class="full-width img-fluid">
                    <div class="rt-profile-body">
                </a>    
                        <div class="rt-profile-name">  YellowKorner</div>
                    </div>
                </div>
                        <p>Créée en 2006 par deux passionnés de photographie, Alexandre de Metz et Paul-Antoine Briat, YellowKorner repose sur une équation très simple : augmenter le nombre d'exemplaires d'une photographie d'art pour la rendre accessible au plus grand nombre. Ainsi, au lieu de proposer 10 tirages à 5 000 euros, elle choisit d'en éditer 1 000 à 50 €. Actuellement YellowKorner présente un large panorama de la photographie contemporaine à travers le monde.</p>
    </div>

    <div class="col-6 col-md-4">
                <a href="catch-gallery.com" target="_blank" rel="noopener noreferrer">
                <div class="rt-profile-card"><img src="https://resize-elle.ladmedia.fr/r/625,,forcex/crop/625,437,center-middle,forcex,ffffff/img/var/plain_site/storage/images/deco/news-tendances2/sites-blogs/boutiques-et-sites-de-vente-en-ligne-d-art/c-a-tch-gallery-com/69306727-1-fre-FR/C-A-TCH-Gallery.com.jpg" class="full-width img-fluid">
                    <div class="rt-profile-body">
                </a>    
                        <div class="rt-profile-name"> C-A-TCH Gallery.com </div>
                    </div>
                </div>
                <p>Cette galerie en ligne joue la carte de l’émotion et de l’avant-garde en proposant des œuvres accessibles à tous. Les artistes C-A-TCH Gallery.com sont soigneusement sélectionnés par l'équipe en fonction de leurs formations, expositions, prix remportés… Ils valident ensemble le développement des œuvres dans un laboratoire en Allemagne. A noter qu'à l'acquisition de l’œuvre, l'acheteur recevra un certificat qui prouvera que la pièce est numérotée et en édition limitée.</p>
    </div>           

</div> 

<!-- Quote -->
<div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;"> 

    <div class="testimonial-quote group">
        <div class="quote-container">
            <blockquote>
                <p>Learn the rules like a pro, so you can break them like an artist. ― @Pablo Picasso</p>
            </blockquote>  

        </div>
    </div>    
</div>
<!-- End quote -->



<div class="row">

  <div class="col-6 col-md-4">  
            <a href="https://artistics.com/" target="_blank" rel="noopener noreferrer">
            <div class="rt-profile-card"><img src="https://artistics.com/sites/default/files/taureau-viii-by-christophe-dupety.jpg" class="full-width img-fluid">
                    <div class="rt-profile-body">
            </a>        
                        <div class="rt-profile-name">  Artistics</div>
                    </div>
            </div>  
  </div>

   <div class="col-3 col-md-2">   
                <p>Artistics est une galerie d’art en ligne fondée en 2013, spécialisée dans la vente d’œuvres d’art contemporain. Nous proposons aux particuliers et aux entreprises de trouver la création de leur choix parmi nos œuvres de photographie contemporaine, sculpture contemporaine et tableaux contemporains.</p>
   </div>


    <div class="col-6 col-md-4"> 

            <a href="https://www.artsper.com/" target="_blank" rel="noopener noreferrer">
            <div class="rt-profile-card"><img src="https://media.artsper.com/artwork/1206060_1_m.jpg">
                    <div class="rt-profile-body">
            </a>
                        <div class="rt-profile-name">  Artsper</div>
                    </div>
            </div>
    </div>

    <div class="col-3 col-md-2">   
                <p>Cette galerie virtuelle rassemble plus de 400 galeries et 15 000 œuvres. Le site travaille uniquement avec des galeries physiques qui pour la plupart ont l'habitude de participer aux foires et salons internationaux comme Art Paris, Art Basel, Slick.</p>
    </div>

</div>


<!-- Quote -->

<div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;"> 

    <div class="testimonial-quote group">
        <div class="quote-container">
            <blockquote>
                <p>I paint flowers so they will not die. ―  @Frida Kahlo</p>
            </blockquote>  

        </div>
    </div>    
</div>

<!-- End quote -->

<div class="row">
   <div class="col-3 col-md-2">   
                        <p> Concept-store physique et en ligne dédié à l’art, la culture et le design, Arteum propose une sélection pointue, autant dire la crème de la crème de l’art. Jeff Koons, Basquiat, Nikki de Saint-Phalle, Picasso font partis des noms que l'on peut croiser en flânant dans cette boutique en ligne.</p>
   </div>

  <div class="col-6 col-md-4">  
            <a href="https://www.arteum.com" target="_blank" rel="noopener noreferrer">
            <div class="rt-profile-card"><img src="https://www.arteum.com/files/contents/433/67558-1ec98516-squarel/contents-67558.jpg" class="full-width img-fluid">
                    <div class="rt-profile-body">
            </a>        
                        <div class="rt-profile-name">  Arteum</div>
                    </div>
            </div>  
  </div>



    <div class="col-3 col-md-2">   
________________

    </div>

    <div class="col-6 col-md-4"> 

            <a href="https://www.artsper.com/">
            <div class="rt-profile-card"><img src="https://media.artsper.com/artwork/1206060_1_m.jpg">
                    <div class="rt-profile-body">
            </a>
                        <div class="rt-profile-name">  Artsper</div>
                    </div>
            </div>
    </div>



</div>

<!-- Quote -->


<div style="width: 960px; margin: 0 auto; padding-top: 80px; padding-bottom: 80px;"> 

    <div class="testimonial-quote group">
        <div class="quote-container">
            <blockquote>
                <p>While drawing I discover what I really want to say. ―  @Dario Fo.</p>
            </blockquote>  

        </div>
    </div>    
</div>

<!-- End quote -->

<div class="row">
    <div class="col-6 col-md-4">
                <a href="www.art.fr">
                <div class="rt-profile-card"><img src="https://imgc.artprintimages.com/img/print/john-james-audubon-great-blue-heron_u-l-f33bpe0.jpg?artWidth=300&artHeight=300" class="full-width img-fluid">
                    <div class="rt-profile-body">
                </a>    
                        <div class="rt-profile-name">  ART.FR</div>
                    </div>
                </div>
                        <p>Véritable géant dans le domaine de la vente d'art en ligne, Art.fr est la copie conforme de son grand frère américain, Art.com, leader dans le domaine de la décoration murale. Art.fr offre la possibilité au grand public de s'offrir une reproduction de qualité d'une toile d'un grand maître. Le site dispose d'un catalogue complètement fou de Picasso à Van Gogh, en passant par Niki De Saint Phalle ou Jean-Michel Basquiat.</p>
    </div>
 
    <div class="col-6 col-md-4">
                <a href="yellowkorner.com">
                <div class="rt-profile-card"><img src="https://storage.googleapis.com/yk-cdn/photos/plp/ruslan-bolgov/duality-ii.jpg" class="full-width img-fluid">
                    <div class="rt-profile-body">
                </a>    
                        <div class="rt-profile-name">  YellowKorner</div>
                    </div>
                </div>
                        <p>Créée en 2006 par deux passionnés de photographie, Alexandre de Metz et Paul-Antoine Briat, YellowKorner repose sur une équation très simple : augmenter le nombre d'exemplaires d'une photographie d'art pour la rendre accessible au plus grand nombre. Ainsi, au lieu de proposer 10 tirages à 5 000 euros, elle choisit d'en éditer 1 000 à 50 €. Actuellement YellowKorner présente un large panorama de la photographie contemporaine à travers le monde.</p>
    </div>

    <div class="col-6 col-md-4">
                <a href="catch-gallery.com">
                <div class="rt-profile-card"><img src="https://resize-elle.ladmedia.fr/r/625,,forcex/crop/625,437,center-middle,forcex,ffffff/img/var/plain_site/storage/images/deco/news-tendances2/sites-blogs/boutiques-et-sites-de-vente-en-ligne-d-art/c-a-tch-gallery-com/69306727-1-fre-FR/C-A-TCH-Gallery.com.jpg" class="full-width img-fluid">
                    <div class="rt-profile-body">
                </a>    
                        <div class="rt-profile-name"> C-A-TCH Gallery.com </div>
                    </div>
                </div>
                <p>Cette galerie en ligne joue la carte de l’émotion et de l’avant-garde en proposant des œuvres accessibles à tous. Les artistes C-A-TCH Gallery.com sont soigneusement sélectionnés par l'équipe en fonction de leurs formations, expositions, prix remportés… Ils valident ensemble le développement des œuvres dans un laboratoire en Allemagne. A noter qu'à l'acquisition de l’œuvre, l'acheteur recevra un certificat qui prouvera que la pièce est numérotée et en édition limitée.</p>
    </div>           

</div> 








