<h1>Dashboard de l'espace  partners</h1>
<%= partners_office_partner_signed_in? %>
<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">BO de BDM</div>
  <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
  </div>
</div>