
.test {
  /* background-image: url('https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?cs=srgb&dl=pexels-markus-spiske-1089438.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* border: 3px red solid; */
  height:100vh;
  color:white;
  padding: 4rem 4rem;
}

.test a {
  color:inherit;
}

.btn.btn-success.form {
  background-color:gray;
}

h1 {
  color: white
}

.image-background {
  position:fixed;
  inset:0;
  opacity: 1;
  z-index:-1;
}

.form-group.remember {
  margin-top:1rem;
}

.test1 {
  /* background-image: url('https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?cs=srgb&dl=pexels-markus-spiske-1089438.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* border: 3px red solid; */
  height:100vh;
  color:white;
  padding: 4rem 4rem;
}

.test a {
  color:inherit;
}

.btn.btn-success.form {
  background-color:gray;
}

h1 {
  color: white
}

.image-background {
  position:fixed;
  inset:0;
  opacity: 1;
  z-index:-1;
}

.form-group.remember {
  margin-top:1rem;
}



