<div class="container-fluid">
  <div class="row justify-content-center align-items-center form-style-custom">
    <div class="col-6 border-form bg-white text-primary" >
      <h2 class="text-center mb-4">Se connecter a son espace partenaire</h2>
      <%= render "form" %>
    </div>
  </div>
</div>
